@charset "utf-8";

/********* common ********/
html, body, ul, li {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;  /*讓網頁捲抽移動時是平滑的*/
}

a { text-decoration: none;}

body {
    background-color: #fffeec;
    font-family: "微軟正黑體";
}

/* 背圖片常用的設定 */
.imgcommon {
    background-position: center;  /*圖片position的center讓圖放大時也置中很有感覺 */
    background-size: cover;       /*圖片size的cover也是放大的關鍵*/
    background-repeat: none;
}

/**************************** ele styles ******************************/
/*--------- mobile ----------*/
/*banner*/
.banner { 
    height: 200px;
    margin: 0 auto;
}

/****** nav ******/
nav {
    width: 100%;
    height: 3em;
    background-color: #aeddcd; 
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .1);
}

.choose-type {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0.8em 1em 1em 1em;
    box-sizing: border-box;
}

.choose-title {
    font-weight: bold;
}

.choose-type select {
    width: 80%;
    padding: 4px;
    border-radius: 8px;
    position: relative;
    top: -2px;
    left: 0; 
}

.choose-type select:focus {
    outline: none;
}

/****** 下半部內容 ******/
main {
    margin: 2em auto; 
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;    /*子元素自動換行*/
}

/* 商品 */
.prod {
    width: 80%;
    height: 400px;
    border: 1px solid rgba(65, 64, 64, .5);
    margin: 0 auto 2em;
    border-radius: 0 0 8px 8px;
    background-color: white;
    transition: all .3s;
}

.prod-img {
    border-bottom: 1px solid rgba(65, 64, 64, .5);
    width: 100%;
    height: 200px;
}

.prod-con {
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    padding: 1em;
}

.prod-title {
    font-weight: bold;
    font-size: 130%;
    color: #e4508f;
    margin-bottom: .5em;
}

.prod-footer {
    padding: 1em;
    text-align: right;
}

.prod-footer a {
    margin-right: .1em;
    padding: .3em 1em .3em 0;
    background-color: #556fb5;
    border-radius: 8px;
    position: relative;
    transition: all .3s;
}

.prod-footer a, 
.prod-footer a:hover,
.prod-footer a:link,
.prod-footer a:active {
    color: white;
} 

.prod-footer a:before {
    content: '▶';
    padding: .3em .7em .3em .8em;
    background-color: #293966;
}

/*回頂點按鈕*/
.gotop{
	/* display: none; */
	position: fixed;
	bottom:1.5em;
	right: 1.2em;
	width: 3em;
	height: 3em;
	cursor: pointer;
}




/*--------- 營幕尺寸大於768px時(最小至少768px時，iPad 等平版以上) ---------*/
@media screen and (min-width: 768px) {
    /****** nav ******/
    .choose-type select {
        width: 150px;
    }

    /****** 下半部內容 ******/
    /* 商品 */
    .prod {
        width: 40%;
        height: 400px;
        margin-left: 6.66%;
    }

    .prod:nth-child(2n+1) {
        margin-right: 0;
    }
}



/*--------- 營幕尺寸大於768px時(最小至少1280時，營幕以上) ---------*/
@media screen and (min-width: 1280px) {
    /*banner*/
    .banner { 
        width: 1280px;
        height: 256px;
    }
    
    /****** nav ******/
    .choose-type {
        width: 1280px;
    }
    
    /****** 下半部內容 ******/
    main {
        width: 1280px;
    }
    
    /* 商品 */
    .prod {
        width: 285px;
        height: 400px;
        margin: 0 auto 2em;
    }
    
    .prod:nth-child(4n+1) {
        margin-left: 0;
    }
    
    .prod:hover {
        box-shadow: 2px 4px 15px rgba(0, 0, 0, .4);
    }
    
    .prod-footer a:hover {
        top: -1px;
        left: 2px;
        background-color: #3e589e;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
    }
}

