<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首頁</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app" v-cloak>
        <div class="banner imgcommon" :style="{ backgroundImage: 'url(' + bannerPath + ')' }"></div>

        <nav>
            <div class="choose-type">
                <span class="choose-title">類別：</span>
                
                <select v-model="choose">
                    <option>全部</option>
                    <option v-for="type in types">{{ type }}</option>
                </select>
            </div>
        </nav>

        <main>
            <!-- 商品 -->
            <div class="prod" v-for="item in chooselist">
                <div class="prod-img imgcommon" :style="{ backgroundImage: 'url(' + item.imgPath + ')' }"></div>
                
                <div class="prod-con">
                    <div class="prod-title">{{ item.name }}</div>
                    <span class="prod-des">{{ item.des }}</span>
                </div>

                <div class="prod-footer">
                    <a :href="item.url" role="botton" target="_blank">&nbsp;&nbsp;詳細內容</a>
                </div>
            </div>
        </main>
    </div>

    <img src="images/gotop.png" class="gotop">
    
    <!-- js -->
    <script src="js/vue.min.js"></script>
    <!-- <script src="js/vue.dev.js"></script> -->
    <script src="js/main.js"></script>
    <script src="js/gotop.js"></script>
</body>
</html>